.header-wrapper {
    width: 77.5em; /* 1240px */
}
.header {
    display: flex;
    justify-content: center;
    padding-top: 2.25em;
    padding-bottom: 2em;
    margin-bottom: 3.75em;
}
.header-logo {
    text-transform: uppercase;
    font-size: 2.375em; /* 38px */
    font-style: normal;
    font-weight: 900;
    line-height: 115%; /* 43.7px */
}

.header-wrapper .first-part {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2em;
}

.header-search {
    display: flex;
}

.header-search input {
    border: none;
    outline: none;
    background-color: var(--light-gray);
    padding-top: 1.0625em; /* 17px */
    padding-bottom: 1em;
    width: 33.75em; /* 540px */
    padding-left: 0.75em;
    font-size: 1em;
    font-weight: 400;
}

.header-search .search-icon {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.header-navigation {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.navigation-item {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
}

.navigation-wrapper {
    display: flex;
    gap: 2em;
}

.header-wrapper .separator {
    width: 100%;
    height: 1px;
    background: #DCDCDC;
    margin-top: 2em;
    margin-bottom: 2em;
}

.second-part {
    display: flex;
    justify-content: center;
}

.header-categories {
    display: flex;
    gap: 3.75em;
}
