.sections-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 16px;
}

.sections {
    width: 1260px;
}

section {
    margin-bottom: 140px;
}

section img {
    width: 100%;
}

.first-section {
    display: grid;
    gap: var(--default-gap);
    grid-template-columns: 1fr 1fr;
}

.first-section .left-side {
    display: flex;
    gap: var(--default-gap);
}

.section-text {
    margin-top: 12px;
}

.title-text {
    margin-top: 16px;
    font-weight: 400;
}

.right-side > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-side div img {
    max-width: 190px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-side .section-text {
    font-size: 18px;
}

.second-section > .scrolling-content {
    display: flex;
    gap: var(--default-gap);
    overflow-x: hidden;
    padding-bottom: 40px;
}

.second-section > .scrolling-content > div {
    min-width: 364px;
}

.second-section > .scrolling-content  > div > img {
    width: 100%;
    height: 447px;
}
#second-section-wrapper {
    height: 530px;
}

.scrolling-section-wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.third-section .third-section-content, .ninth-section .ninth-section-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--default-gap);
}

.third-section .title-text, .ninth-section .title-text {
    font-weight: 500;
}

.product-name, .product-price {
    margin-top: 8px;
}

.product-price {
    font-weight: 500;
}

.fourth-section {
    display: flex;
    gap: var(--default-gap);
}

.fourth-section .title-text, .fourth-section h1 {
    text-align: center;
}

.fourth-section h1 {
    margin-top: 12px;
    font-size: 20px;
}

.fifth-section img {
    width: 150px;
    height: 108px;
}

.fifth-section .scrolling-content {
    display: flex;
    background-color: var(--light-gray);
    overflow: hidden;
    gap: var(--default-gap);
    padding: 46px 0;
}

.fifth-section .scrolling-content > div {
    display: flex;
    gap: 16px;
    align-items: center;
    min-width: 450px;
}

.fifth-section .scrolling-content h1 {
    font-size: 18px;
    line-height: 142.5%;
    margin-top: 12px;
}

.fifth-section .scrolling-content .title-text {
    margin-top: 0;
}

#fifth-section-wrapper {
    height: 200px; /* 200px */
}

.sixth-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--default-gap);
}

.sixth-section h1 {
    padding-top: 12px;
    font-size: 20px;
}

.seventh-section {
    display: grid;
    gap: var(--default-gap);
    grid-template-columns: 1.8fr 1fr;
}

.seventh-section .left-side h1 {
    font-size: 20px;
    margin-top: 12px;
    line-height: 140%;
}

.seventh-section .left-side h1, .seventh-section .left-side .title-text {
    text-align: center;
}

.seventh-section .right-side > div {
    flex-direction: column;
}

.seventh-section .right-side div img {
    max-width: initial;
}

.seventh-section {
    margin-bottom: 140px;
}

.tranding-text {
    white-space: nowrap;
}

.tranding-separator {
    margin-bottom: 60px;
}

.eighth-section .separator {
    margin: 24px 0;
    height: 1px;
    background: #DCDCDC;
}

.eighth-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--default-gap);
}

.tranding-item {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.tranding-item a {
    text-decoration: none;
    font-family: 'Moderat', sans-serif;
}

.tranding-item h1{
    font-family: 'Moderat', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 115%;
}

.tranding-item p, .tranding-item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 160.5%; /* 28.89px */
}

.tranding-item p {
    font-family: 'Zodiak', sans-serif;
}

.brands-section > table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
}

.brands-section > table img {
    width: initial;
    max-width: 182px;
}

.brands-section > table tr td > div{
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands-section > table tr td {
    border: 1px solid #DBDBDB;
}

.brands-section > table tr td:first-child {
    border-left: none;
}

.brands-section > table tr:first-child td {
    border-top: none;
}

.brands-section > table tr td:last-child {
    border-right: none;
}

.brands-section > table tr:last-child td {
    border-bottom: none;
}

.first-part.mobile > div > .images {
    display: flex;
    gap: 16px;
    transition: transform 0.5s;
}

.first-part.mobile {
    overflow: hidden;
    display: block;
    width: calc(100vw - 32px);
}

.first-part.mobile > div > div, .first-part.mobile > div > div img {
    width: calc(100vw - 32px);
}

.slider-control {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 8px;
}

.slider-control div {
    height: 6px;
    max-width: 6px;
    background-image: url("../assets/icons/dot-inactive.svg");
}

.slider-control div.active {
    background-image: url("../assets/icons/dot-active.svg");
}

.mobile-scrolling-section-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
}

.scrolling-switcher {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.scrolling-switcher-control {
    padding: 8px;
}
.scrolling-switcher-control > div {
    height: 4px;
    width: 20px;
    background-color: #DCDCDC;
    transition: all 0.3s;
}

.scrolling-switcher-control.active > div {
    height: 6px;
    width: 30px;
    background-color: #c0c0c0;
}

.scrolling-control {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrolling-content {
    width: calc(100vw - 90px);
}

.scrolling-control > div {
    padding: 12px;
    color: #6b6b6b;
    font-size: 24px;
}

section.scrolling-section {
    display: flex;
    justify-content: center;
}

@media (max-width: 1390px) {
    .brands-section > table tr td > div {
        height: 10em;
    }
}

@media (max-width: 1200px) {
    .brands-section > table img {
        transform: scale(0.85);
    }
}

@media (max-width: 1000px) {
    .brands-section > table img {
        transform: scale(0.7);
    }
}

@media (max-width: 990px) {
    .sections {
        width: 100%;
    }
    .first-section {
        display: block;
    }

    .title-text {
        font-size: 14px;
        margin-top: 16px;
    }

    .section-text {
        font-size: 20px;
        margin-top: 8px;
        line-height: 140%;
    }

    .first-section .right-side, .first-section .right-side div {
        width: 100%;
    }

    .first-section .right-side div img {
        height: 82px;
        width: 120px;
        max-width: initial;
    }

    .first-section .right-side div div p {
        font-size: 14px;
        font-weight: 400;
    }
    .right-side .section-text {
        font-size: 16px;
    }

    html {
        overflow-x: hidden;
    }

    .second-section > .scrolling-content > div > img {
        height: 314px;
        width: 256px;
    }

    .second-section > .scrolling-content > div {
        min-width: 256px;
    }

    .second-section > .scrolling-content {
        gap: 16px;
    }

    section {
        margin-bottom: 72px;
    }

    #second-section-wrapper{
        height: 412px;
    }

    .third-section-content div, .third-section-content div img,
    .ninth-section-content div, .ninth-section-content div img{
        width: 256px;
    }

    .third-section-content .title-text,
    .third-section-content .product-name,
    .third-section-content .product-price,
    .ninth-section-content .title-text,
    .ninth-section-content .product-name,
    .ninth-section-content .product-price{
        font-size: 16px;
    }

    #third-section-wrapper, #ninth-section-wrapper {
        height: 403px;
        width: 100%;
        left: 0
    }

    .fourth-section {
        flex-direction: column;
        gap: 60px;
    }

    .fourth-section h1 {
        margin-top: 8px;
        font-size: 20px;
        line-height: 140%;
    }

    .fifth-section img {
        width: 120px;
        height: 82px;
    }

    .fifth-section .scrolling-content h1 {
        font-size: 16px;
    }

    .fifth-section .scrolling-content > div {
        min-width: 358px;
    }

    .fifth-section .scrolling-content {
        gap: 16px;
        padding: 40px 0;
    }

    .sixth-section {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .sixth-section h1 {
        font-size: 24px;
    }

    .seventh-section {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .seventh-section .right-side div {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .seventh-section .right-side div img {
        width: 120px;
        height: 82px;
    }

    .seventh-section .right-side,
    .seventh-section .left-side,
    .seventh-section .left-side img {
        width: calc(100vw - 32px);
    }

    .seventh-section .right-side h1 {
        font-size: 16px;
        margin-top: 8px;
    }

    .eighth-section {
        grid-template-columns: 1fr;
        gap: 0;
        max-height: 504px;
        overflow-y: hidden;
        margin-bottom: 40px;
        transition: max-height 0.5s;
    }

    .tranding-item h1 {
        font-size: 20px;
    }

    .tranding-item p, .tranding-item a {
        font-size: 14px;
    }

    .tranding-item {
        gap: 8px;
    }

    .eighth-section .separator {
        margin: 24px 0;
    }

    .eighth-section-load-more {
        width: 100%;
        background-color: white;
        border: 1px solid #111;
        padding: 14px 0;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 72px;
        cursor: pointer;
    }

    .third-section .third-section-content, .ninth-section .ninth-section-content {
        display: flex;
        width: 100%;
        overflow-x: hidden;
    }

    .brands-section > table tr td > div {
        height: 100px;
        width: calc(50vw - 16px);
    }

    .all-brands-wrapper .all-brands {
        width: 100%;
        padding: 14px 0;
        font-size: 14px;
        font-weight: 500;
    }

    .brands-section > table {
        margin-bottom: 40px;
    }

    .brands-section > table img {
        transform: scale(0.85);
    }

    .all-brands-wrapper {
        margin-bottom: 120px;
    }

    .first-section .right-side {
        gap: 32px;
    }

    #first-section-wrapper {
        height: 521px;
        position: absolute;
        width: calc(100vw - 32px);
        transform: translateZ(10px);
        z-index: 1000;
    }
}

@media (max-width: 800px) {
    .mobile-scrolling-section {
        display: flex;
        justify-content: center;
    }
}





