.checkout-form > p > span:last-child {
    color: #111111;
}

.payment-form {
    border: 1px solid #DCDCDC;
    background: #F7F7F7;
    padding: 32px 40px;
}

.form-control {
    background-color: white;
}

.credit-card > div {
    background-color: black;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.credit-card p {
    font-size: 18px;
}

.credit-card {
    display: flex;
    gap: 12px;
    align-items: center;
}

.cards {
    display: flex;
    gap: 40px;
}

.cards-variants > img {
    width: 68px;
    height: 44px;
}

.cards-variants {
    display: flex;
    gap: 12px;
}

.form-control {
    margin-top: 40px;
    padding-top: 0;
}

.question-wrapper {
    height: 20px;
    width: 20px;
}

.question-wrapper > img {
    height: 20px;
    width: 20px;
}

.question {
    display: flex;
    justify-content: end;
    margin-top: -34px;
    margin-right: 12px;
}

.checkout-title {
    margin-bottom: 40px;
}

.credit-card > div > img {
    height: 16px;
    width: 16px;
}

@media (max-width: 990px) {
    .checkout-title {
        margin-bottom: 24px;
    }

    .credit-card > div {
        height: 24px;
        width: 24px;
        border-radius: 24px;
    }

    .credit-card > div > img {
        height: 16px;
        width: 16px;
    }

    .credit-card p {
        font-size: 18px;
    }

    .credit-card {
        gap: 12px;
        max-width: 145px;
    }

    .cards-variants > img {
        width: 46px;
        height: 30px;
    }

    .payment-form {
        padding: 32px 16px;
    }

    .cards-variants {
        gap: 12px;
    }

    .cards {
        gap: 19px;
        display: flex;
    }
}