.categories-name {
    margin-bottom: 32px;
}

.product-info {
    display: grid;
    grid-template-columns: 1.58fr 1fr;
    gap: 32px;
    margin-bottom: 80px;
}

.product-images {
    display: grid;
    grid-template-columns: 1fr 5.7fr;
    gap: 16px;
}

.left-side-images img {
    width: 100%;
    margin-bottom: 12px;
}

.left-side-images img.active {
    border: 1px solid #111111;
}

.main-image img {
    width: 100%;
}

.product-title .product-name {
    font-size: 32px;
}

.product-price .price {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.6px;
}

.product-price {
    display: flex;
    gap: 16px;
    align-items: center;
}

.product-price .cashback {
    background-color: #111111;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px 0 11px;
    height: 32px;
}

.product-title {
    margin-bottom: 40px;
}

.product-details {
    background-color: #F0F0F0;
    padding: 16px;
    margin-bottom: 40px;
}

.product-details div span {
    text-decoration: underline;
}

.current-color span:first-child {
    color: #8B8B8B;
}

.current-color {
    margin-bottom: 16px;
}

.colors-variants .active{
    border: 1px solid black;
}

.colors-variants {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product-colors {
    margin-bottom: 40px;
}

.product-size .text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.select-size {
    background-color: #F0F0F0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 17px 16px;
}

.select-size .current-value {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 138%;
}

.product-size {
    margin-bottom: 40px;
}

.product-cashback {
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 115%;
    margin-bottom: 16px;
}

.shop-now button, .add-to-cart button {
    width: 100%;
    font-size: 18px;
    padding: 21px 0;
}

.price-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    padding: 20px 0;
}

.price-alert p, .or {
    font-size: 18px;
    font-weight: 500;
}

.or {
    text-align: center;
    margin-top: 24px;
}

.add-to-cart {
    margin-top: 24px;
    margin-bottom: 40px;

}

.add-to-cart .description {
    background-color: #F0F0F0;;
    padding: 24px;
}

.add-to-cart .description .title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 12px;
}

.add-to-cart .description .text {
    font-size: 16px;
    font-weight: 400;
}

.section-with-hiding p span {
    font-weight: 900;
    font-size: 18px;
    line-height: 115%;
}

.section-with-hiding p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-description {
    margin-bottom: 24px;
}

.compare-across .text {
    font-size: 18px;
    font-weight: 900;
    line-height: 115%;
    margin-bottom: 16px;
}

.compare-across .text span {
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
}

.compare-across .price {
    font-size: 18px;
    font-weight: 500;
    line-height: 115%;
}

.compare-across {
    margin-bottom: 32px;
}

.compare-variants > div {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
}

.compare-variants > div > img {
    height: 100px;
}

.compare-variants > div > div .name {
    margin-bottom: 12px;
    color: #0D99FF;
    font-size: 16px;
}

.compare-variants > div > div .price {
    font-size: 16px;
    font-weight: 400;
}

.button.visit-site {
    padding: 14px 70px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #111;
    color: #111;
}

.compare-variants .separator {
    width: 100%;
    height: 1px;
    background: #DCDCDC;
    margin: 32px 0;
}

.compare-variants {
    margin-bottom: 140px;
}

.also-like .category-products {
    grid-template-columns: repeat(5, 1fr);
}

.also-like {
    margin-bottom: 80px;
}

.load-more .button-wrapper .button {
    font-weight: 500;
}

.load-more {
    margin-bottom: 140px;
}

.main-image {
    grid-column: 2;
    grid-row: 1;
}

.colors-variants img {
    height: 70px;
    width: 70px;
}

button.visit-site .desktop {
    color: white;
}

.section-with-hiding > div {
    margin-top: 16px;
}

.section-with-hiding {
    overflow: hidden;
    transition: max-height 0.3s;
}

.section-with-hiding > p > img {
    transition: transform 0.3s;
}

.section-with-hiding.opened {
    max-height: 100%;
}

.section-with-hiding.opened > p > img {
    transform: rotate(0deg);
}

.section-with-hiding.closed > p > img {
    transform: rotate(90deg);
}

.section-with-hiding.closed {
    max-height: 24px;
}

@media (max-width: 990px) {

    .main-image {
        grid-column: initial;
        grid-row: initial;
    }

    .product-info {
        display: block;
        margin-bottom: 80px;
        margin-top: 4px;
    }

    .page-wrapper {
        overflow-x: hidden;
        width: calc(100vw - 32px);
        padding: 0 16px
    }

    .page-wrapper > div {
        width: calc(100vw - 32px);
    }

    .product-images {
        display: grid;
        grid-template-columns: auto;
        gap: 0;
        transform: translateX(-16px);
        width: 100vw;
        overflow-x: hidden;
    }

    .product-images .left-side-images {
        display: flex;
        transition: transform 0.5s;
    }

    .product-images .left-side-images img {
        height: initial;
        width: 100vw;
        margin-bottom: 0;
    }

    .also-like .category-products {
        width: calc(100vw - 32px);
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px 16px;
    }

    .also-like .category-products > div,
    .also-like .category-products > div > img{
        width: 100%;
    }

    .heart-wrapper {
        width: calc(50vw - 24px);
    }

    .left-side-images > img.active {
        border: none;
    }

    #first-section-wrapper {
        height: calc(100vw * 1.1841);
        position: absolute;
        width: 100vw;
        transform: translateZ(10px);
        z-index: 1000;
    }

    .product-images-controller {
        display: flex;
        width: calc(100vw - 32px);
        padding: 0 16px;
        margin: 12px 0 32px 0;
    }

    .product-images-controller div {
        background: #E9E9E9;
        height: 2px;
        width: 100%;
    }

    .product-images-controller div.active {
        background-color: #111111;
    }

    .product-author {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .product-title .product-name{
        font-size: 24px;
    }

    .product-price .price {
        font-size: 24px;
        letter-spacing: -0.48px;
    }

    .product-price {
        gap: 16px;
    }

    .product-price .cashback {
        font-size: 14px;
        padding: 7px 14px 8px 11px;
        line-height: normal;
        height: initial;
    }

    .product-title {
        margin-bottom: 32px;
    }

    .product-details div, .product-details div span {
        font-size: 14px;
        line-height: 140%;
    }

    .product-details {
        padding: 16px;
        margin-bottom: 32px;
    }

    .current-color > span {
        font-size: 14px;
        line-height: normal;
    }

    .current-color {
        margin-bottom: 16px;
    }

    .colors-variants img {
        height: 70px;
        width: 70px;
    }

    .colors-variants {
        gap: 10px;
        width: calc(100vw - 32px);
        overflow-x: scroll;
        transform: translateX(-16px);
        padding: 0 16px;
    }

    .colors-variants::-webkit-scrollbar {
        display: none;
    }

    .product-colors, .compare-across {
        margin-bottom: 32px;
    }

    .product-size .text {
        font-size: 14px;
        line-height: 138%;
        margin-bottom: 12px;
    }

    .select-size {
        font-size: 16px;
        font-weight: 400;
        line-height: 138%;
        padding: 16px;
    }

    .select-size img {
        height: 24px;
        width: 24px;
    }

    .product-size {
        margin-bottom: 40px;
    }

    .product-cashback {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .shop-now button, .add-to-cart button {
        font-size: 16px;
        height: 54px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .price-alert {
        background-color: var(--light-gray);
        padding: 15px 0;
    }

    .price-alert p {
        font-size: 16px;
        font-weight: 500;
        gap: 8px;
    }

    .or {
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 24px;
    }

    .add-to-cart .description .title {
        font-size: 18px;
        line-height: 115%;
    }

    .add-to-cart .description .text {
        font-size: 14px;
        line-height: 140%;
    }

    .add-to-cart .description {
        padding: 24px 16px;
    }

    .section-with-hiding p span,
    .compare-across .text,
    .compare-across .text span,
    .compare-across .price{
        font-size: 16px;
    }

    .product-description {
        margin-bottom: 16px;
    }

    .compare-across .text {
        margin-bottom: 16px;
    }

    .compare-variants > div {
        grid-template-columns: auto 1fr;
        gap: 16px 24px;
    }

    .compare-variants > div > button {
        grid-column: 1 / 3;
        color: #111;
        background-color: white;
        border: 1px solid #111;
    }

    .button.visit-site {
        font-size: 14px;
        padding: 14px 0;
    }

    .compare-variants > div > img {
        width: 80px;
        height: 100px;
    }

    .compare-variants > div > div .name,
    .compare-variants > div > div .price {
        font-size: 16px;
    }

    .compare-variants > div > div > .name {
        line-height: 140%;
        margin-bottom: 8px;
    }

    .compare-variants .separator {
        margin: 24px 0;
    }

    .heart-wrapper img {
        transform: translate(-12px, 12px);
    }

    .compare-variants {
        margin-bottom: 72px;
    }

    .category-products > div > p {
        font-size: 14px;
    }

    .category-products > div > p.author {
        margin-top: 16px;
    }

    .category-products > div > p:not(:last-child) {
        margin-bottom: 8px;
    }

    .also-like {
        margin-bottom: 40px;
    }

    .load-more button {
        width: 100%;
        padding: 14px 0;
        font-size: 14px;
    }

    .load-more {
        margin-bottom: 120px;
    }
}
