.sections-wrapper {
    display: flex;
    justify-content: center;
}

.sections {
    width: 77.5em; /* 1240px */
}

section {
    margin-bottom: 6.25em; /* 100px */
}

section img {
    width: 100%;
}

.first-section {
    display: flex;
    gap: var(--default-gap);
}

.first-section .left-side {
    display: flex;
    gap: var(--default-gap);
}

.first-section .left-side div, .first-section .left-side div img {
    width: 21.25em /* 340px */;
}

.section-text {
    margin-top: 0.75em;
}

.title-text {
    margin-top: 1em;
    font-weight: 400;
}

.right-side > div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-side div img {
    max-width: 11.25em;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.right-side .section-text {
    font-size: 1.125em;
}

.category-separator .separator {
    width: 100%;
    height: 1px;
    background: #DCDCDC;
}

.category-separator {
    display: flex;
    gap: 1.5em;
    align-items: center;
    margin-bottom: 3.75em;
}

.category-separator .category-text {
    font-family: 'Zodiak', sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 540;
    line-height: normal;
}

.second-section > .scrolling-content {
    display: flex;
    gap: var(--default-gap);
    overflow-x: hidden;
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
}

.second-section > .scrolling-content > div {
    min-width: 22.75em; /* 364px */
}

.second-section > .scrolling-content  > div > img {
    width: 100%;
    height: 27.9375em; /* 447px */
}
#second-section-wrapper {
    height: 33.125em /* 530px */
}

.scrolling-section-wrapper {
    width: 100%;
    position: absolute;
}

.third-section, .ninth-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--default-gap);
}

.third-section .title-text, .ninth-section .title-text {
    font-weight: 500;
}

.product-name, .product-price {
    margin-top: 0.5em;
}

.product-price {
    font-weight: 500;
}

.fourth-section {
    display: flex;
    gap: var(--default-gap);
}

.fourth-section .title-text, .fourth-section h1 {
    text-align: center;
}

.fourth-section h1 {
    margin-top: 1em;
    font-size: 1.625em; /* 26px */
}

.fifth-section img {
    width: 9.375em; /* 150px */
    height: 6.75em;
}

.fifth-section .scrolling-content {
    display: flex;
    background-color: var(--light-gray);
    overflow: hidden;
    gap: var(--default-gap);
    padding: 2.875em var(--default-gap); /* 46px */
}

.fifth-section .scrolling-content > div {
    display: flex;
    gap: 1em;
    align-items: center;
    min-width: 28.125em; /* 450px */
}

.fifth-section .scrolling-content h1 {
    font-size: 1.125em;
    margin-top: 0.75em;
}

.fifth-section .scrolling-content .title-text {
    margin-top: 0;
}

#fifth-section-wrapper {
    height: 12.5em; /* 200px */
}

.sixth-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--default-gap);
}

.sixth-section h1 {
    padding-top: 0.75em;
}

.seventh-section {
    display: grid;
    gap: var(--default-gap);
    grid-template-columns: auto auto;
}

.seventh-section .left-side h1 {
    font-size: 1.625em;
    margin-top: 1em;
}

.seventh-section .left-side h1, .seventh-section .left-side .title-text {
    text-align: center;
}

.seventh-section .left-side {
    width: 49.125em /* 786px */
}

.seventh-section .right-side > div {
    flex-direction: column;
}

.seventh-section .right-side div img {
    max-width: initial;
}

.seventh-section {
    margin-bottom: 8.375em /* 134px */
}

.tranding-text {
    white-space: nowrap;
}

.tranding-separator {
    margin-bottom: 5.125em; /* 82px */
}

.eighth-section .separator {
    margin: 1.5em 0;
    height: 1px;
    background: #DCDCDC;
}

.eighth-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--default-gap);
}

.tranding-item {
    display: flex;
    gap: 0.75em;
    flex-direction: column;
}

.tranding-item a {
    text-decoration: none;
    font-family: 'Moderat', sans-serif;
}

.tranding-item h1{
    font-family: 'Moderat', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 115%; /* 27.6px */
}

.tranding-item p, .tranding-item a {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 160.5%; /* 28.89px */
}

.tranding-item p {
    font-family: 'Zodiak', sans-serif;
}

.ninth-section {
    margin-bottom: 5em;
}

.ninth-section-category-separator {
    margin-bottom: 4.1875em; /* 67px */
}

.brands-section > table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4.75em /* 76px */;
}

.brands-section > table img {
    width: initial;
    max-width: 15.625em;
}

.brands-section > table tr td > div{
    height: 13.125em; /* 210px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands-section > table tr td {
    border: 1px solid #DBDBDB;
}

.brands-section > table tr td:first-child {
    border-left: none;
}

.brands-section > table tr:first-child td {
    border-top: none;
}

.brands-section > table tr td:last-child {
    border-right: none;
}

.brands-section > table tr:last-child td {
    border-bottom: none;
}

.all-brands-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 4.9375em; /* 79px */
}


.all-brands-wrapper .all-brands {
    border: none;
    background: #111;
    padding: 0.875em /* 14px */ 2.5em;
    color: white;
}

@media (max-width: 1390px) {
    .brands-section > table tr td > div {
        height: 10em;
    }
}

@media (max-width: 1200px) {
    .brands-section > table img {
        transform: scale(0.85);
    }
}

@media (max-width: 1000px) {
    .brands-section > table img {
        transform: scale(0.7);
    }
}





