* {
    color: #111111;
    padding: 0;
    margin: 0;
    font-family: 'Moderat', sans-serif;
}

:root {
    --light-gray: #F7F7F7;
    --default-gap: 36px;
}

h1, h1 > span {
    font-family: 'Zodiak', sans-serif;
    font-size: 18px;
    font-weight: 540;
}

.button {
    border: none;
    background: #111;
    padding: 14px 40px;
    color: white;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.categories-name p, .categories-name span {
    font-size: 16px;
    font-weight: 400;
    color: #8B8B8B;
}

.categories-name p.active {
    color: #111;
}

.categories-name {
    display: flex;
}

.categories-name span {
    margin: 0 5px;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 16px;
}

.page-wrapper > div {
    width: 1260px
}

.category-separator .separator {
    width: 100%;
    height: 1px;
    background: #DCDCDC;
}

.category-separator {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 60px;
}

.category-separator .category-text {
    font-family: 'Zodiak', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 540;
    line-height: normal;
    white-space: nowrap;
}

.category-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px 24px;
}

.category-products > div > .product-image {
    width: 100%;
}

.category-products > div > p.author, .category-products > div > p.price {
    font-weight: 500;
}

.category-products > div > p:not(:last-child) {
    margin-bottom: 8px;
}

.category-products > div > p.author {
    margin-top: 16px;
}

.heart-wrapper {
    display: flex;
    justify-content: right;
    position: absolute;
}

.heart-wrapper img {
    transform: translate(12px, 12px);
}

.mobile {
    display: none !important;
}

html {
    -webkit-tap-highlight-color: transparent;
}

.summary-title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid #DCDCDC;
}

.summary-info {
    padding: 20px 0;
    border-bottom: 1px solid #DCDCDC;
}

.summary-info div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.summary-info div:not(:last-child) {
    margin-bottom: 24px;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 32px;
}

.summary-total p {
    font-weight: 900;
}

.summary-button {
    width: 100%;
    cursor: pointer;
}

.additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    height: 300px;
    padding: 0 16px;
}

.additional-item > p, .additional-item > h1 {
    text-align: center;
}

.additional-item > div {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.additional-info .title {
    font-size: 20px;
    margin-bottom: 12px;
}

.additional-item > div > img {
    height: 52px;
    width: 52px;
}

.additional-info > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px;
    max-width: 1132px;
    width: 100%;
}


.separator.without-mb {
    margin-bottom: 0;
}

@media (max-width: 990px) {
    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }

    .category-separator .category-text {
        font-size: 24px;
    }

    .category-separator {
        gap: 16px;
        margin-bottom: 24px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .scrolling-content div h1 {
        font-size: 20px;
    }

    .summary-title, .summary-info div p, .summary-total p {
        font-size: 16px;
    }

    .summary-title {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .summary-info div:not(:last-child) {
        margin-bottom: 24px;
    }

    .summary-info {
        padding: 20px 0;
    }

    .summary-total {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .summary-button {
        padding: 20px 0;
        font-size: 16px;
    }

    .additional-info .title {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .additional-info > div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .additional-info {
        height: initial;
        padding: 80px 53px;
    }

    .additional-item > div > img {
        height: 52px;
        width: 52px;
    }

    .additional-item > p {
        font-size: 16px;
    }
}
