* {
    color: #111111;
    padding: 0;
    margin: 0;
    font-family: 'Moderat', sans-serif;
}

:root {
    --light-gray: #F7F7F7;
    --default-gap: 36px;
}

h1 {
    font-family: 'Zodiak', sans-serif;
    font-size: 20px;
    font-weight: 540;
}
